# Токен вашего Telegram-бота, полученный от @BotFather
TG_TOKEN=your_bot_token_here

# Режим работы приложения (local / dev / prod)
APP_ENV=local

# Адрес Redis сервера (в Docker используйте 'redis:6379')
REDIS_ADDR=localhost:6379

# Адрес gRPC сервера Django (в Docker используйте 'backend:50051')
DJANGO_GRPC_ADDR=localhost:50051